{% extends "forms/base.html" %}
{% block addInfo %}
    Add Doctor
{% endblock addInfo%}
{% block content %}
           <button class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton" id="panel-button">
           <i class="material-icons">
            more_vert
           </i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
           <li class="mdl-menu__item">
            <i class="material-icons">
             assistant_photo
            </i>
            Action
           </li>
           <li class="mdl-menu__item">
            <i class="material-icons">
             print
            </i>
            Another action
           </li>
           <li class="mdl-menu__item">
            <i class="material-icons">
             favorite
            </i>
            Something else

                                            here
           </li>
          </ul>
         </div>
         <form>
         <div class="card-body row">
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="txtFirstName" type="text" maxlength="20" required/>
            <label class="mdl-textfield__label">
             First Name
            </label>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="txtLasttName" type="text" maxlength="20" required/>
            <label class="mdl-textfield__label">
             Last Name
            </label>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="txtemail" type="email" maxlength="50" required/>
            <label class="mdl-textfield__label">
             Email
            </label>
            <span class="mdl-textfield__error">
             Enter Valid Email Address!
            </span>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="txtPwd" type="password" required/>
            <label class="mdl-textfield__label">
             Password
            </label>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="txtConfirmPwd" type="password" required/>
            <label class="mdl-textfield__label">
             Confirm Password
            </label>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="designation" type="text" required maxlength="25"/>
            <label class="mdl-textfield__label">
             Nationality
            </label>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">

           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="NationalNumber" pattern="-?[0-9]*(\.[0-9]+)?" type="number" required/>
            <label class="mdl-textfield__label" for="NationalNumber">
             National Number
            </label>
            <span class="mdl-textfield__error">
             Number required!
            </span>
           </div>
          </div>

          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
            <input class="mdl-textfield__input" id="sample2" readonly="" tabindex="-1" type="text" value="Male"/>
            <label class="pull-right margin-0" for="sample2">
             <i class="mdl-icon-toggle__label material-icons">
              keyboard_arrow_down
             </i>
            </label>
            <label class="mdl-textfield__label" for="sample2">
             Gender
            </label>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" data-mdl-for="sample2">
             <li class="mdl-menu__item" data-val="DE">
              Male
             </li>
             <li class="mdl-menu__item" data-val="BY">
              Female
             </li>
            </ul>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="text5" pattern="-?[0-9]*(\.[0-9]+)?" type="tel" required maxlength="11"/>
            <label class="mdl-textfield__label" for="text5">
             Mobile Number
            </label>
            <span class="mdl-textfield__error">
             Number required!
            </span>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">
           <input class="floating-label mdl-textfield__input" id="date" placeholder="Birth Date" type="text"/>
          </div>
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield txt-full-width">
            <input class="mdl-textfield__input" id="Address" type="text" maxlength="40" required maxlength="30"/>
            <label class="mdl-textfield__label" for="text7">
             Address
            </label>
           </div>
          </div>
              <!----------Drop_down_list------------------->
             <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
            <input class="mdl-textfield__input" id="list3" readonly="" tabindex="-1" type="text" value=""/>
            <label class="pull-right margin-0" for="list3">
             <i class="mdl-icon-toggle__label material-icons">
              keyboard_arrow_down
             </i>
            </label>
            <label class="mdl-textfield__label" for="list3">
            Marital Status
            </label>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" data-mdl-for="list3">
             <li class="mdl-menu__item" data-val="DE">
             Single
             </li>
             <li class="mdl-menu__item" data-val="BY">
              Married
             </li>
             <li class="mdl-menu__item" data-val="BY">
              Widow
             </li>
             <li class="mdl-menu__item" data-val="BY">
              Divorced
             </li>
            </ul>
           </div>
          </div>
             <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                <!----------------------------------------------->
              <!----------Drop_down_list------------------->
             <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
            <input class="mdl-textfield__input" id="list4" readonly="" tabindex="-1" type="text" value=""/>
            <label class="pull-right margin-0" for="list4">
             <i class="mdl-icon-toggle__label material-icons">
              keyboard_arrow_down
             </i>
            </label>
            <label class="mdl-textfield__label" for="list4">
            Title
            </label>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" data-mdl-for="list4">
             <li class="mdl-menu__item" data-val="DE">
              Professor
             </li>
             <li class="mdl-menu__item" data-val="BY">
              Lecturer
             </li>
             <li class="mdl-menu__item" data-val="BY">
              Consultant
             </li>
             <li class="mdl-menu__item" data-val="BY">
              Specialist
             </li>
            </ul>
           </div>
          </div>
<!----------------------------------------------->

                    <div class="col-lg-12 p-t-20">
                    <div class="col-lg-12 p-t-20 text-center">

           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
            <div class="col-lg-12 p-t-20">
              <input type="file"  id="upload-photo" name="files[]" multiple="multiple" accept="image/*" style="display: none;"/>
             <label for="upload-photo" style="border: 1px solid #cccccc;
             padding: 5px 30px;
             font-family:arial;
             font-size: 13px;
             cursor:pointer">Upload Your Photo</label>
            </div>


<div class="col-lg-12 p-t-20">
                    <div class="col-lg-12 p-t-20 text-center">

          <div class="col-lg-12 p-t-20 text-center">
           <button class="btn btn-circle btn-success" type="button">
             Submit!
            </button>
           <button class="btn btn-circle btn-danger" type="button">
             Cancel
            </button>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    </div>
  </form>
{% endblock content%}