{% extends "forms/base.html" %}
{% block addInfo %}
    Add patient
{% endblock addInfo%}
{% block content %}
           <button class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton" id="panel-button">
           <i class="material-icons">
            more_vert
           </i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
           <li class="mdl-menu__item">
            <i class="material-icons">
             assistant_photo
            </i>
            Action
           </li>
           <li class="mdl-menu__item">
            <i class="material-icons">
             print
            </i>
            Another action
           </li>
           <li class="mdl-menu__item">
            <i class="material-icons">
             favorite
            </i>
            Something else

                                            here
           </li>
          </ul>
         </div>
         <form>
         <div class="card-body row">
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="txtFirstName" type="text" maxlength="20" required/>
            <label class="mdl-textfield__label">
             First Name
            </label>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="txtLasttName" type="text" maxlength="20" required/>
            <label class="mdl-textfield__label">
             Last Name
            </label>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="txtemail" type="email"  maxlength="40" required/>
            <label class="mdl-textfield__label">
             Email
            </label>
            <span class="mdl-textfield__error">
             Enter Valid Email Address!
            </span>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="txtPwd" type="password" required/>
            <label class="mdl-textfield__label">
             Password
            </label>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="txtConfirmPwd" type="password" required/>
            <label class="mdl-textfield__label">
             Confirm Password
            </label>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="designation" type="text"  maxlength="20" required/>
            <label class="mdl-textfield__label">
             Nationality
            </label>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">
<!-----------radio blood button ------------>
   <div class="row">
       <div class="col-sm-12">
        <div class="card-box">
         <div class="card-head">
          <header>
           Blood type
          </header>
         </div>
         <div class="card-body">
          <table>
           <tr>
            <td class="p-r-20 p-b-20">
             A+
            </td>
            <td class="p-r-20 p-b-20">
             A-
            </td>
            <td class="p-r-20 p-b-20">
             O+
            </td>
            <td class="p-r-20 p-b-20">
             O-
            </td>
            <td class="p-r-20 p-b-20">
             B+
            </td>
            <td class="p-r-20 p-b-20">
             B-
            </td>
            <td class="p-r-20 p-b-20">
             AB+
            </td>
            <td class="p-r-20 p-b-20">
             AB-
            </td>
           </tr>
           <tr>
            <td>
             <label class="mdl-radio mdl-js-radio" for="option1">
              <input checked="" class="mdl-radio__button" id="option1" name="gender" type="radio"/>

             </label>
            </td>
            <td>
             <label class="mdl-radio mdl-js-radio" for="option2">
              <input checked="" class="mdl-radio__button" id="option2" name="gender" type="radio"/>

             </label>
            </td>
            <td>
             <label class="mdl-radio mdl-js-radio" for="option3">
              <input checked="" class="mdl-radio__button" id="option3" name="gender" type="radio"/>

             </label>
            </td>
            <td>
             <label class="mdl-radio mdl-js-radio" for="option4">
              <input checked="" class="mdl-radio__button" id="option4" name="gender" type="radio"/>

             </label>
            </td>
            <td>
             <label class="mdl-radio mdl-js-radio" for="option5">
              <input checked="" class="mdl-radio__button" id="option5" name="gender" type="radio"/>

             </label>
            </td>
            <td>
             <label class="mdl-radio mdl-js-radio" for="option6">
              <input checked="" class="mdl-radio__button" id="option6" name="gender" type="radio"/>

             </label>
            </td>
            <td>
             <label class="mdl-radio mdl-js-radio" for="option7">
              <input checked="" class="mdl-radio__button" id="option7" name="gender" type="radio"/>

             </label>
            </td>
            <td>
             <label class="mdl-radio mdl-js-radio" for="option8">
              <input checked="" class="mdl-radio__button" id="option8" name="gender" type="radio"/>

             </label>
            </td>
           </tr>
          </table>
         </div>
        </div>
       </div>
      </div>
           <!--------------('O+', 'O-', 'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-')------------------>
           <!-------------chronic d form ---------------------->
           <div class="row">
       <div class="col-sm-12">
        <div class="card-box">
         <div class="card-head">
          <header>
           Chronic diseases
          </header>
          <div class="col-lg-4 p-t-20">
          <div class="card-body row">
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="txtnamed" type="text"/>
            <label class="mdl-textfield__label">
             Name
            </label>
           </div>
          </div>
          </div>
          </div>
          <div class="col-lg-4 p-t-20">
           <div class="card-body row">
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="txttyped" type="text"/>
            <label class="mdl-textfield__label">
             Type
            </label>
           </div>
          </div>
         </div>
       </div>
         </div>
     </div>
    </div>
           <!-------------------------------------------------->
           <div class="col-lg-12 p-t-20">

           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="NationalNumber" pattern="-?[0-9]*(\.[0-9]+)?" type="number" required maxlength="20"/>
            <label class="mdl-textfield__label" for="NationalNumber">
             National Number
            </label>
            <span class="mdl-textfield__error">
             Number required!
            </span>
           </div>
          </div>

          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
            <input class="mdl-textfield__input" id="sample2" readonly="" tabindex="-1" type="text" value="Male"/>
            <label class="pull-right margin-0" for="sample2">
             <i class="mdl-icon-toggle__label material-icons">
              keyboard_arrow_down
             </i>
            </label>
            <label class="mdl-textfield__label" for="sample2">
             Gender
            </label>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" data-mdl-for="sample2">
             <li class="mdl-menu__item" data-val="DE">
              Male
             </li>
             <li class="mdl-menu__item" data-val="BY">
              Female
             </li>
            </ul>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="text5" pattern="-?[0-9]*(\.[0-9]+)?" type="tel" maxlength="11" required/>
            <label class="mdl-textfield__label" for="text5">
             Mobile Number
            </label>
            <span class="mdl-textfield__error">
             Number required!
            </span>
           </div>
          </div>
           <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <input class="mdl-textfield__input" id="text6" pattern="-?[0-9]*(\.[0-9]+)?" type="tel" maxlength="11" required/>
            <label class="mdl-textfield__label" for="text6">
             relative phone numbers
            </label>
            <span class="mdl-textfield__error">
             Number required!
            </span>
           </div>
          </div>
          <div class="col-lg-12 p-t-20">
           <input class="floating-label mdl-textfield__input" id="date" placeholder="Birth Date" type="text"/>
          </div>
          <div class="col-lg-12 p-t-20">
            <div class="mdl-textfield mdl-js-textfield txt-full-width">
             <input class="mdl-textfield__input" id="Address" type="text" maxlength="40" required maxlength="30"/>
             <label class="mdl-textfield__label" for="text7">
              Address
             </label>
            </div>
           </div>
              <!----------Drop_down_list------------------->
             <div class="col-lg-12 p-t-20">
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
            <input class="mdl-textfield__input" id="list3" readonly="" tabindex="-1" type="text" value=""/>
            <label class="pull-right margin-0" for="list3">
             <i class="mdl-icon-toggle__label material-icons">
              keyboard_arrow_down
             </i>
            </label>
            <label class="mdl-textfield__label" for="list3">
            Marital Status
            </label>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" data-mdl-for="list3">
             <li class="mdl-menu__item" data-val="DE">
             Single
             </li>
             <li class="mdl-menu__item" data-val="BY">
              Married
             </li>
             <li class="mdl-menu__item" data-val="BY">
              Widow
             </li>
             <li class="mdl-menu__item" data-val="BY">
              Divorced
             </li>
            </ul>
           </div>
          </div>
             <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                <!----------------------------------------------->





                

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                  <div class="col-lg-12 p-t-20 text-center">
                    <input type="file"  id="upload-photo" name="files[]" multiple="multiple" accept="image/*" style="display: none;"/>
                   <label for="upload-photo" style="border: 1px solid #cccccc;
                   padding: 5px 30px;
                   font-family:arial;
                   font-size: 13px;
                   cursor:pointer">Upload Your Photo</label>
                  </div>

                  <div class="col-lg-12 p-t-20">
                    <div class="col-lg-12 p-t-20 text-center">

          <div class="col-lg-12 p-t-20 text-center">
           <button class="btn btn-circle btn-success" type="button">
             Submit!
            </button>
           <button class="btn btn-circle btn-danger" type="button">
             Cancel
            </button>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    </div>
    </form>
{% endblock content%}